* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* .menu-icon img {
  width: 50px;
}

body {
  height: 100vh;
  background: linear-gradient(rgba(236, 236, 242, 0.167), rgba(32, 32, 32, 0.25)), url("./images/bg-truck.jpg") no-repeat center center/cover;
  font-family: "Savate", sans-serif;
  overflow: hidden; /* Consider if you want this for mobile too */
}
body nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 2rem;
  background: rgba(10, 10, 10, 0.14);
  box-shadow: inset 0 0 60px 10px rgba(255, 255, 255, 0.05), 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0 0 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 100;
}
body nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
body nav .logo img {
  width: 50px;
  transition: 0.3s ease-in-out;
}
body nav .logo img:hover {
  transform: scale(1.3);
}
body nav .logo span {
  color: #012752;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  transition: padding 0.3s ease;
}
body nav .logo span:hover {
  padding: 0.5rem 1rem;
  border: 1px solid linear-gradient(90deg, #a8c0ff, #668cff);
  border-radius: 0 20px 20px 0;
  box-shadow: inset 0 0 60px 10px rgba(255, 255, 255, 0.05), 0 8px 32px 0 rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
body nav .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}
body nav .nav-links li a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #070707;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
}
body nav .nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #a8c0ff, #668cff);
  transition: width 0.3s ease;
}
body nav .nav-links li a:hover {
  color: #91affc;
}
body nav .nav-links li a:hover::after {
  width: 100%;
}
body nav .nav-links .dropdown {
  cursor: pointer;
  position: relative;
}
body nav .nav-links .dropdown a i {
  font-size: 0.8rem;
}
body nav .nav-links .dropdown .dropdown-content {
  position: absolute;
  top: 130%;
  left: 0;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-width: 190px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  transition: opacity 0.3s linear;
}
body nav .nav-links .dropdown .dropdown-content a {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
}
body nav .nav-links .dropdown .dropdown-content a:hover {
  color: #91affc;
  background: rgba(168, 192, 255, 0.25);
  cursor: pointer;
}
body nav .nav-links .dropdown:hover .dropdown-content {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
body nav .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body nav .search-container input[type=text] {
  width: 220px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  padding: 6px 35px 6px 12px;
  font-size: 1rem;
  color: #070707;
  outline: none;
  transition: width 0.3s ease;
}
body nav .search-container input[type=text]::placeholder {
  color: #414141;
}
body nav .search-container input[type=text]:focus {
  background: rgba(255, 255, 255, 0.3);
  width: 240px;
}
body nav .search-container .fa {
  position: absolute;
  right: 12px;
  font-size: 1.1rem;
  color: #070707;
  pointer-events: none;
}
body nav .menu-icon {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transition: 0.3s ease;
  cursor: pointer;
}
body nav .menu-icon:active {
  transform: scale(1.2);
}
body nav .menu-icon img {
  width: 30px;
}
@media (max-width: 997px) {
  body nav .logo {
    gap: 0.8rem;
  }
  body nav .logo span {
    font-size: 1rem;
  }
  body nav .nav-links {
    gap: 1rem;
  }
  body nav .nav-links li a {
    font-size: 0.8rem;
  }
}
@media (max-width: 786px) {
  body nav .logo {
    gap: 0.5rem;
  }
  body nav .nav-links {
    flex-direction: column;
    position: fixed;
    top: 90px;
    left: -100%;
    width: 250px;
    gap: 2rem;
    padding: 2rem 0;
    background: rgba(150, 133, 133, 0.7);
    box-shadow: 8px 0 30px rgba(0, 0, 0, 0.13);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: left 0.3s ease;
  }
  body nav .nav-links.open {
    left: 0;
  }
  body nav .nav-links li {
    position: relative;
    text-align: center;
  }
  body nav .nav-links li a {
    font-size: 0.9rem;
  }
  body nav .nav-links .dropdown {
    position: relative;
    width: fit-content ip !important;
  }
  body nav .nav-links .dropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body nav .nav-links .dropdown a i {
    transition: transform 0.3s ease;
    margin-left: 5px;
  }
  body nav .nav-links .dropdown.open a i {
    transform: rotate(180deg);
  }
  body nav .nav-links .dropdown.open .dropdown-content {
    max-height: 500px;
    padding-left: 10px;
    border: 1px solid #333;
  }
  body nav .nav-links .dropdown .dropdown-content {
    position: relative;
    top: 0;
    left: auto;
    background: linear-gradient(rgba(132, 132, 132, 0.36), rgba(31, 30, 30, 0.274));
    backdrop-filter: none;
    box-shadow: none;
    border: none;
    border-radius: 14px;
    min-width: 190px;
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: none !important;
    margin-top: 5px;
    overflow: hidden;
    min-width: unset;
    padding: 0;
    max-height: 0;
    transition: max-height 0.3s ease, padding 0.3s ease;
  }
  body nav .nav-links .dropdown .dropdown-content li {
    margin-left: 20px;
  }
  body nav .nav-links .dropdown .dropdown-content li a {
    display: block;
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background 0.3s ease, color 0.3s ease;
    text-align: start;
  }
  body nav .nav-links .dropdown .dropdown-content li a:hover {
    color: #91affc;
    background: none;
  }
  body nav .search-container input[type=text] {
    width: 300px;
  }
  body nav .search-container input[type=text]:focus {
    width: 320px;
  }
  body nav .menu-icon {
    display: flex;
  }
  body nav .menu-icon.close {
    display: none;
  }
}
@media (max-width: 586px) {
  body nav .logo span {
    display: none;
  }
  body nav .nav-links {
    width: 180px;
  }
  body nav .nav-links .dropdown .dropdown-content li a {
    padding: 0.8rem 0.5rem;
  }
  body nav .nav-links .dropdown.open .dropdown-content {
    padding-left: 5px;
  }
  body nav .search-container input[type=text] {
    width: 200px;
  }
  body nav .search-container input[type=text]:focus {
    width: 240px;
  }
}

/*# sourceMappingURL=main.css.map */
